.header{
    padding: 100px 0 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .menu{
    gap: 30px;
    display: flex;
}
.header .menu a{
    color: var(--dark-grayish-blue);
    transition: color ease 0.3s;
}
.header .menu a:hover {
    color: var(--soft-red);
}
.header .menu-bar-btn{
    display: none;
}